PyQt5
Pillow
pytesseract
PyInstaller
# Required for windows travis ci build:
# virtualenv==16.1

# for development:
# requests

# for testing purposes:
# memory_profiler
# matplotlib
# scikit-image
# scipy